* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

header {
    background-image: url(../images/pattern.webp);
    height: 200px;
    text-align: center;
}

header h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.heading {
    font-size: 32px;
    font-weight: bold;
    color: white;
    padding: 0 20px;
}

.mediumspringgreen {
    background-color: mediumspringgreen;
}

.lightcoral {
    background-color: lightcoral;
}

.skyblue {
    background-color: skyblue;
}

.image_normal {
    height: 200px;
    width: 200px;
    margin: 0 20px;
}

main h3,
main p {
    margin: 8px 10px;
}